//Measures
$mainWidth: 80%;
$headerHeight: 90px;

//Colors
$colorMainText: #58402C;
$colorLink-Btn: #30488F;
$colorMain: #FFE7D2;
$activeTextColor: #586C83;


//Typography
$generalFont: 'Nunito Sans', sans-serif;
